body {
  font-family: "Roboto", "Raleway", sens-serif;
  color: var(--color-main-text);
  background-color: var(--color-white);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol,
li {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visualy-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.join__btn, .data__button, .hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
  background-color: var(--color-logo);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 0;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--animating);
}
.join__btn:hover, .data__button:hover, .hero__button:hover, .join__btn:focus, .data__button:focus, .hero__button:focus {
  background-color: var(--color-btn-hover);
  box-shadow: var(--shedow-btn-hover);
}
.join__btn:active, .data__button:active, .hero__button:active {
  box-shadow: none;
}

.logo-web {
  color: var(--color-logo);
}

:root {
  --color-text-main: #212121;
  --color-text: #757575;
  --color-bgr-main: #c4c4c4;
  --color-bgr-content: #f5f4fa;
  --color-white: #fff;
  --color-logo: #2196f3;
  --color-btn-hover: #188ce8;
  --color-svg: #afb1b8;
  --color-bgr-footer: #2f303a;
  --color-header-line: #ececec;
  --animating: cubic-bezier(0.4, 0, 0.2, 1);
  --shedow-team-cards: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --shedow-btn-hover: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --shedow-portfolio-cards: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --shedow-btn-portfolio: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin: 0 auto;
}
.header .container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-header-line);
}

.header__link-logo {
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 767px) {
  .header__navigate {
    display: none;
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 294px;
}
@media screen and (min-width: 1200px) {
  .header__list {
    margin-right: 180px;
  }
}

.header__link {
  display: inline-block;
  padding: 32px 0;
  text-decoration: none;
  color: var(--color-text-main);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--animating);
}
.header__link:hover, .header__link:focus {
  color: var(--color-logo);
}

.actual {
  color: var(--color-logo);
  position: relative;
  transition-property: background-color;
}
.actual::after {
  content: "";
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  top: 100%;
  left: 0;
  background-color: var(--color-logo);
  transform: translate(0, -100%);
}

@media screen and (max-width: 767px) {
  .header__connection {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__connect-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__connect-item:nth-child(1) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .header__connect-item:nth-child(1) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.header__link-contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-text);
  transition: color 250ms var(--animating);
}
.header__link-contact:hover, .header__link-contact:focus {
  color: var(--color-logo);
}
@media screen and (min-width: 1200px) {
  .header__link-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .header__envelope {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .header__envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.header__smartphone {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .header__smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .hidden {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .appear {
    display: none;
  }
}

.header__button {
  background-color: var(--color-white);
  border-color: var(--color-white);
  cursor: pointer;
  transition: fill 250ms var(--animating);
  border: 0;
}
.header__button:hover, .header__button:focus {
  fill: var(--color-logo);
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
}

.mobil-modal {
  position: relative;
  padding: 48px 40px;
  background-color: var(--color-white);
}

.mobil-modal__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: var(--color-white);
  border: 0;
  transition: fill 250ms var(--animating);
}
.mobil-modal__btn:hover, .mobil-modal__btn:focus {
  fill: var(--color-logo);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobil-modal__list {
  margin-bottom: 302px;
}

.mobil-modal__item {
  margin-bottom: 32px;
}

.mobil-modal__link {
  text-decoration: none;
  color: var(--color-text-main);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition: color 250ms var(--animating);
}
.mobil-modal__link:hover {
  color: var(--color-logo);
}

.mobil-modal__connect-list {
  margin-bottom: 64px;
}

.mobil-modal__connect-item {
  margin-bottom: 32px;
}

.mobil-modal__phone {
  text-decoration: none;
  color: var(--color-logo);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
}

.mobil-modal__mail {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
}

.mobil-modal__social {
  display: flex;
}

.mobil-modal__social-item {
  margin-right: 10px;
}

.before {
  position: relative;
  margin-left: 10px;
}

.mobil-modal__social-link {
  text-decoration: none;
  color: var(--color-logo);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .before::before {
    content: "";
    position: absolute;
    left: -10px;
    width: 1px;
    height: 22px;
    margin-right: 10px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--color-bgr-main);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desktop@2x.jpg);
  }
}

.hero__headline {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__headline {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  width: 200px;
  height: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 93px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--animating);
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding-top: 208px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop {
    padding-top: 221px;
  }
}

.modal {
  position: relative;
  width: 450px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 4px;
  box-shadow: var(--shedow-team-cards);
  background-color: var(--color-white);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50% 50%;
  text-decoration: none;
  color: inherit;
  background-color: var(--color-white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition-duration: color;
  transition-duration: 250ms;
  transition-timing-function: var(--animating);
  fill: black;
}
.close:hover, .close:focus {
  color: var(--color-logo);
}

.close__picture {
  fill: currentColor;
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.data {
  display: flex;
  flex-direction: column;
}

.data__field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.data__field:not(:last-child) {
  margin-bottom: 10px;
}

.data__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-text);
  padding-bottom: 4px;
}

.data__frame {
  outline: transparent;
  height: 40px;
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--animating);
  padding-left: 42px;
}
.data__frame:hover, .data__frame:focus {
  border-color: var(--color-logo);
}
.data__frame:not(:-moz-placeholder-shown) {
  border-color: var(--color-logo);
}
.data__frame:not(:-ms-input-placeholder) {
  border-color: var(--color-logo);
}
.data__frame:not(:placeholder-shown) {
  border-color: var(--color-logo);
}

.data__frame:hover ~ .data__icons,
.data__frame:focus ~ .data__icons {
  fill: var(--color-logo);
}

.data__frame:not(:-moz-placeholder-shown) + .data__icons {
  fill: var(--color-logo);
}

.data__frame:not(:-ms-input-placeholder) + .data__icons {
  fill: var(--color-logo);
}

.data__frame:not(:placeholder-shown) + .data__icons {
  fill: var(--color-logo);
}

.data__icons {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: currentColor;
  transition: fill 250ms var(--animating);
}

.data__comments {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms var(--animating);
}
.data__comments:hover, .data__comments:focus {
  border-color: var(--color-logo);
}
.data__comments:not(:-moz-placeholder-shown) {
  border-color: var(--color-logo);
}
.data__comments:not(:-ms-input-placeholder) {
  border-color: var(--color-logo);
}
.data__comments:not(:placeholder-shown) {
  border-color: var(--color-logo);
}

.data__comments > [placeholder] {
  color: rgba(117, 117, 117, 0.5);
}

.conditions {
  display: inline-flex;
  margin: 10px 0 30px 0;
}
@media screen and (min-width: 1200px) {
  .conditions {
    margin: 10px 0 30px 12px;
  }
}

.conditions__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
}
@media screen and (min-width: 1200px) {
  .conditions__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.conditions__tick {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.conditions__tick:checked + .conditions__icon {
  background-color: var(--color-logo);
  background-image: url(../../images/icon-check.svg);
  background-size: contain;
  border-color: var(--color-logo);
}

.conditions__icon {
  display: inline-flex;
  order: -1;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 2px;
}

.conditions__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.03em;
  color: var(--color-logo);
  margin-left: 4px;
}
@media screen and (min-width: 1200px) {
  .conditions__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.data__button {
  width: 200px;
  height: 50px;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__headline {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .features__headline {
    text-align: left;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-secondary);
}
@media screen and (min-width: 768px) {
  .features__text {
    text-align: left;
  }
}

.antenna::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-bgr-content);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/antenna.svg);
}

.clock::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-bgr-content);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/clock.svg);
}

.diagram::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-bgr-content);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/diagram.svg);
}

.astronaut::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-bgr-content);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/astronaut.svg);
}

.trade {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .trade {
    display: none;
  }
}

.trade__headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.trade__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.trade__item {
  position: relative;
}

.trade__text-container {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  height: 70px;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.trade__text {
  font-weight: 700;
  font-size: 14;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.team {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-bgr-content);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  margin-bottom: 30px;
  padding-bottom: 24px;
  box-shadow: var(--shedow-team-cards);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    margin-bottom: 0;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    padding-bottom: 30px;
    width: calc((100% - 90px) / 4);
  }
}

.team__header, .clients__header {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__header, .clients__header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.team__headline {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-text);
  text-align: center;
}

.team__picture {
  width: 100%;
  height: 460px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__picture {
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__picture {
    height: 260px;
  }
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 122px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--color-svg);
  border-radius: 50% 50%;
  transition: fill 250ms var(--animating), background-color 250ms var(--animating);
}
.social__link:hover, .social__link:focus {
  fill: var(--color-white);
  background-color: var(--color-logo);
}

.clients {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .clients__header {
    display: none;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  fill: var(--color-svg);
  border: solid 1px var(--color-svg);
  border-radius: 4px;
  transition: fill 250ms var(--animating), border-color 250ms var(--animating);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--color-logo);
  border-color: var(--color-logo);
}

.footer {
  background-color: var(--color-bgr-footer);
}

.footer .container {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .container-address {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.footer__link {
  display: block;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--color-white);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__link {
    text-align: left;
  }
}

.address {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.address__link {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-white);
  margin-bottom: 8px;
  transition: color 250ms var(--animating);
}
.address__link:hover, .address__link:focus {
  color: var(--color-logo);
}
@media screen and (min-width: 1200px) {
  .address__link {
    text-align: left;
  }
}

.address__email {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
  transition: color 250ms var(--animating);
}
.address__email:hover, .address__email:focus {
  color: var(--color-logo);
}
@media screen and (min-width: 1200px) {
  .address__email {
    text-align: left;
  }
}

.address__phon {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--animating);
}
.address__phon:hover, .address__phon:focus {
  color: var(--color-logo);
}
@media screen and (min-width: 1200px) {
  .address__phon {
    text-align: left;
  }
}

.social-foot__headline, .join__text {
  display: block;
  text-align: center;
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .social-foot__headline, .join__text {
    text-align: left;
  }
}

.social-foot__list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto 60px;
}

.social-foot__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50% 50%;
  transition: background-color 250ms var(--animating);
}
.social-foot__link:hover, .social-foot__link:focus {
  background-color: var(--color-logo);
}

@media screen and (min-width: 1200px) {
  .join {
    padding-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .join__text {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .join__container {
    display: flex;
  }
}

.join__input {
  width: 100%;
  height: 50px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--color-bgr-footer);
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition: border-color 250ms var(--animating);
}
.join__input:hover, .join__input:focus {
  border-color: var(--color-logo);
}
@media screen and (min-width: 768px) {
  .join__input {
    width: 450px;
    margin: 0 150px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .join__input {
    width: 358px;
    margin: 0 12px 0 93px;
  }
}

.join__btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
}

.join__picture {
  fill: var(--color-white);
  margin-left: 10px;
}

.filters {
  padding-top: 60px;
  padding-bottom: 25px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .filters {
    padding-top: 94px;
    padding-bottom: 35px;
  }
}

.filters__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .filters__list {
    justify-content: center;
  }
}

.filters__btn {
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  margin-right: 8px;
  margin-bottom: 15px;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: var(--color-bgr-content);
  border: 0;
  cursor: pointer;
  transition: color 250ms var(--animating), background-color 250ms var(--animating);
}
.filters__btn:hover, .filters__btn:focus {
  color: var(--color-white);
  background-color: var(--color-logo);
}

.cards {
  margin: 0 auto;
  padding-bottom: 94px;
}

@media screen and (min-width: 768px) {
  .cards__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.cards__item {
  transition: box-shadow 250ms var(--animating);
}
.cards__item:hover, .cards__item:focus {
  box-shadow: var(--shedow-portfolio-cards);
}
@media screen and (min-width: 768px) {
  .cards__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    width: calc((100% - 60px) / 3);
  }
}

.cards__link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.cards__link:hover .cards__animating, .cards__link:focus {
  transform: translateY(-100%);
}

.cards__picture-container {
  position: relative;
  overflow: hidden;
}

.cards__picture {
  width: 450px;
  height: 294px;
}

.cards__text-container {
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  padding: 20px 24px;
}

.cards__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.cards__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.cards__animating {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 294px;
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--animating);
}

.cards__animating-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--color-white);
}/*# sourceMappingURL=main.css.map */